In [1]:
import pandas as pd
import networkx as nx
from ast import literal_eval
import plotly.graph_objects as go
from tqdm import tqdm

In [2]:
path='/Users/mstudio/Library/CloudStorage/Box-Box/coolie/token/'
df=pd.read_csv(path+'reprint.csv', converters={'pair_state1':literal_eval, 'pair_state2':literal_eval, 'pair_text1':literal_eval, 'pair_text2':literal_eval})
original=pd.read_csv(path+'coolie-token-lemma.csv', converters={'state':literal_eval, 'sent':literal_eval, 'city':literal_eval, 'lemma':literal_eval})
state_df=pd.read_csv('us-state-capitals.csv')

In [3]:
df.shape

(96115, 9)

In [4]:
df['state1']=df['pair_state1'].str[0]
df['state2']=df['pair_state2'].str[0]

In [5]:
df.head(2)

,no_reuse,pair_index1,pair_index2,pair_date1,pair_date2,pair_text1,pair_text2,pair_state1,pair_state2,state1,state2
0,3,1,72742,18910826,18910826,"[tho, steamer, namchow, sail, port, chinese, c...","[bteamer, namchow, sail, port, chinese, coolie...",[New York],[New York],New York,New York
1,3,6,31542,18841025,18841029,"[chinese, general, send, soldier, disguise, co...","[chinese, general, send, soldier, disguise, co...",[Montana],[South Dakota],Montana,South Dakota

In [6]:
interim=pd.merge(df, state_df, left_on='state1', right_on='name')
final=pd.merge(interim, state_df, left_on='state2', right_on='name')

In [7]:
final=final[['state1', 'state2', 'latitude_x', 'longitude_x', 'latitude_y', 'longitude_y']]

In [8]:
final.head(2)

     state1    state2  latitude_x  longitude_x  latitude_y  longitude_y
0  New York  New York   42.652843   -73.757874   42.652843   -73.757874
1  New York  New York   42.652843   -73.757874   42.652843   -73.757874

In [9]:
final.drop(final[final['state1']==final['state2']].index, inplace = True)

In [10]:
final.shape

(72802, 6)

In [11]:
viz_count=final.groupby(['state1', 'state2', 'latitude_x', 'longitude_x', 'latitude_y', 'longitude_y']).size().reset_index(name='count')

In [12]:
viz_count[viz_count['state1']=='Alabama']

,state1,state2,latitude_x,longitude_x,latitude_y,longitude_y,count
0,Alabama,Alaska,32.377716,-86.300568,58.301598,-134.420212,4
1,Alabama,Arizona,32.377716,-86.300568,33.448143,-112.096962,28
2,Alabama,Arkansas,32.377716,-86.300568,34.746613,-92.288986,9
3,Alabama,California,32.377716,-86.300568,38.576668,-121.493629,50
4,Alabama,Colorado,32.377716,-86.300568,39.739227,-104.984856,36
5,Alabama,Connecticut,32.377716,-86.300568,41.764046,-72.682198,24
6,Alabama,Delaware,32.377716,-86.300568,39.157307,-75.519722,5
7,Alabama,Florida,32.377716,-86.300568,30.438118,-84.281296,11
8,Alabama,Georgia,32.377716,-86.300568,33.749027,-84.388229,24
9,Alabama,Hawaii,32.377716,-86.300568,21.307442,-157.857376,14
10,Alabama,Idaho,32.377716,-86.300568,43.617775,-116.199722,42
11,Alabama,Illinois,32.377716,-86.300568,39.798363,-89.654961,19
12,Alabama,Indiana,32.377716,-86.300568,39.768623,-86.162643,28
13,Alabama,Iowa,32.377716,-86.300568,41.591087,-93.603729,23
14,Alabama,Kansas,32.377716,-86.300568,39.048191,-95.677956,58
15,Alabama,Kentucky,32.377716,-86.300568,38.186722,-84.875374,13
16,Alabama,Louisiana,32.377716,-86.300568,30.457069,-91.187393,17
17,Alabama,Maine,32.377716,-86.300568,44.307167,-69.781693,28
18,Alabama,Maryland,32.377716,-86.300568,38.978764,-76.490936,9
19,Alabama,Massachusetts,32.377716,-86.300568,42.358162,-71.063698,1
20,Alabama,Michigan,32.377716,-86.300568,42.733635,-84.555328,14
21,Alabama,Minnesota,32.377716,-86.300568,44.955097,-93.102211,61
22,Alabama,Mississippi,32.377716,-86.300568,32.303848,-90.182106,22
23,Alabama,Missouri,32.377716,-86.300568,38.579201,-92.172935,30
24,Alabama,Montana,32.377716,-86.300568,46.585709,-112.018417,25
25,Alabama,Nebraska,32.377716,-86.300568,40.808075,-96.699654,47
26,Alabama,Nevada,32.377716,-86.300568,39.163914,-119.766121,10
27,Alabama,New Jersey,32.377716,-86.300568,40.220596,-74.769913,20
28,Alabama,New Mexico,32.377716,-86.300568,35.682240,-105.939728,37
29,Alabama,New York,32.377716,-86.300568,42.652843,-73.757874,30
30,Alabama,North Carolina,32.377716,-86.300568,35.780430,-78.639099,47
31,Alabama,North Dakota,32.377716,-86.300568,46.820850,-100.783318,38
32,Alabama,Ohio,32.377716,-86.300568,39.961346,-82.999069,15
33,Alabama,Oklahoma,32.377716,-86.300568,35.492207,-97.503342,3
34,Alabama,Oregon,32.377716,-86.300568,44.938461,-123.030403,17
35,Alabama,Pennsylvania,32.377716,-86.300568,40.264378,-76.883598,11
36,Alabama,Rhode Island,32.377716,-86.300568,41.830914,-71.414963,5
37,Alabama,South Carolina,32.377716,-86.300568,34.000343,-81.033211,21
38,Alabama,South Dakota,32.377716,-86.300568,44.367031,-100.346405,56
39,Alabama,Tennessee,32.377716,-86.300568,36.165810,-86.784241,11
40,Alabama,Texas,32.377716,-86.300568,30.274670,-97.740349,17
41,Alabama,Utah,32.377716,-86.300568,40.777477,-111.888237,26
42,Alabama,Vermont,32.377716,-86.300568,44.262436,-72.580536,10
43,Alabama,Virginia,32.377716,-86.300568,37.538857,-77.433640,12
44,Alabama,Washington,32.377716,-86.300568,47.035805,-122.905014,22
45,Alabama,West Virginia,32.377716,-86.300568,38.336246,-81.612328,13
46,Alabama,Wisconsin,32.377716,-86.300568,43.074684,-89.384445,55
47,Alabama,Wyoming,32.377716,-86.300568,41.140259,-104.820236,17

In [13]:
viz_count[viz_count['state2']=='Alabama']

,state1,state2,latitude_x,longitude_x,latitude_y,longitude_y,count
48,Alaska,Alabama,58.301598,-134.420212,32.377716,-86.300568,2
89,Arizona,Alabama,33.448143,-112.096962,32.377716,-86.300568,16
136,Arkansas,Alabama,34.746613,-92.288986,32.377716,-86.300568,8
184,California,Alabama,38.576668,-121.493629,32.377716,-86.300568,46
232,Colorado,Alabama,39.739227,-104.984856,32.377716,-86.300568,30
279,Connecticut,Alabama,41.764046,-72.682198,32.377716,-86.300568,27
327,Delaware,Alabama,39.157307,-75.519722,32.377716,-86.300568,2
374,Florida,Alabama,30.438118,-84.281296,32.377716,-86.300568,4
420,Georgia,Alabama,33.749027,-84.388229,32.377716,-86.300568,23
468,Hawaii,Alabama,21.307442,-157.857376,32.377716,-86.300568,15
516,Idaho,Alabama,43.617775,-116.199722,32.377716,-86.300568,21
563,Illinois,Alabama,39.798363,-89.654961,32.377716,-86.300568,19
611,Indiana,Alabama,39.768623,-86.162643,32.377716,-86.300568,27
659,Iowa,Alabama,41.591087,-93.603729,32.377716,-86.300568,35
707,Kansas,Alabama,39.048191,-95.677956,32.377716,-86.300568,31
755,Kentucky,Alabama,38.186722,-84.875374,32.377716,-86.300568,15
802,Louisiana,Alabama,30.457069,-91.187393,32.377716,-86.300568,23
849,Maine,Alabama,44.307167,-69.781693,32.377716,-86.300568,15
897,Maryland,Alabama,38.978764,-76.490936,32.377716,-86.300568,5
945,Massachusetts,Alabama,42.358162,-71.063698,32.377716,-86.300568,1
974,Michigan,Alabama,42.733635,-84.555328,32.377716,-86.300568,14
1021,Minnesota,Alabama,44.955097,-93.102211,32.377716,-86.300568,38
1069,Mississippi,Alabama,32.303848,-90.182106,32.377716,-86.300568,27
1117,Missouri,Alabama,38.579201,-92.172935,32.377716,-86.300568,16
1165,Montana,Alabama,46.585709,-112.018417,32.377716,-86.300568,16
1213,Nebraska,Alabama,40.808075,-96.699654,32.377716,-86.300568,37
1261,Nevada,Alabama,39.163914,-119.766121,32.377716,-86.300568,11
1308,New Jersey,Alabama,40.220596,-74.769913,32.377716,-86.300568,14
1355,New Mexico,Alabama,35.682240,-105.939728,32.377716,-86.300568,19
1402,New York,Alabama,42.652843,-73.757874,32.377716,-86.300568,27
1450,North Carolina,Alabama,35.780430,-78.639099,32.377716,-86.300568,22
1498,North Dakota,Alabama,46.820850,-100.783318,32.377716,-86.300568,24
1545,Ohio,Alabama,39.961346,-82.999069,32.377716,-86.300568,7
1593,Oklahoma,Alabama,35.492207,-97.503342,32.377716,-86.300568,10
1640,Oregon,Alabama,44.938461,-123.030403,32.377716,-86.300568,19
1687,Pennsylvania,Alabama,40.264378,-76.883598,32.377716,-86.300568,13
1733,Rhode Island,Alabama,41.830914,-71.414963,32.377716,-86.300568,7
1777,South Carolina,Alabama,34.000343,-81.033211,32.377716,-86.300568,28
1825,South Dakota,Alabama,44.367031,-100.346405,32.377716,-86.300568,40
1872,Tennessee,Alabama,36.165810,-86.784241,32.377716,-86.300568,7
1920,Texas,Alabama,30.274670,-97.740349,32.377716,-86.300568,9
1967,Utah,Alabama,40.777477,-111.888237,32.377716,-86.300568,15
2014,Vermont,Alabama,44.262436,-72.580536,32.377716,-86.300568,10
2061,Virginia,Alabama,37.538857,-77.433640,32.377716,-86.300568,16
2109,Washington,Alabama,47.035805,-122.905014,32.377716,-86.300568,21
2156,West Virginia,Alabama,38.336246,-81.612328,32.377716,-86.300568,3
2204,Wisconsin,Alabama,43.074684,-89.384445,32.377716,-86.300568,40
2251,Wyoming,Alabama,41.140259,-104.820236,32.377716,-86.300568,2

In [14]:
df_airports = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv')
df_airports.head()

df_flight_paths = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_aa_flight_paths.csv')
df_flight_paths.head()

   start_lat  start_lon    end_lat     end_lon airline airport1 airport2  cnt
0  32.895951 -97.037200  35.040222 -106.609194      AA      DFW      ABQ  444
1  41.979595 -87.904464  30.194533  -97.669872      AA      ORD      AUS  166
2  32.895951 -97.037200  41.938874  -72.683228      AA      DFW      BDL  162
3  18.439417 -66.001833  41.938874  -72.683228      AA      SJU      BDL   56
4  32.895951 -97.037200  33.562943  -86.753550      AA      DFW      BHM  168

In [15]:
df_airports.head()

,iata,airport,city,state,country,lat,long,cnt
0,ORD,Chicago O'Hare International,Chicago,IL,USA,41.979595,-87.904464,25129
1,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944,21925
2,DFW,Dallas-Fort Worth International,Dallas-Fort Worth,TX,USA,32.895951,-97.037200,20662
3,PHX,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434167,-112.008056,17290
4,DEN,Denver Intl,Denver,CO,USA,39.858408,-104.667002,13781

In [16]:
df_flight_paths.head()

   start_lat  start_lon    end_lat     end_lon airline airport1 airport2  cnt
0  32.895951 -97.037200  35.040222 -106.609194      AA      DFW      ABQ  444
1  41.979595 -87.904464  30.194533  -97.669872      AA      ORD      AUS  166
2  32.895951 -97.037200  41.938874  -72.683228      AA      DFW      BDL  162
3  18.439417 -66.001833  41.938874  -72.683228      AA      SJU      BDL   56
4  32.895951 -97.037200  33.562943  -86.753550      AA      DFW      BHM  168

In [17]:
import plotly.graph_objects as go
import pandas as pd


fig = go.Figure()

fig.add_trace(go.Scattergeo(
    locationmode = 'USA-states',
    lon = viz_count['longitude_x'],
    lat = viz_count['latitude_x'],
    hoverinfo = 'text',
    text = viz_count['state1'],
    mode = 'markers',
    marker = dict(
        size = 5,
        color = 'rgb(255, 255, 255)',
        line = dict(
            width = 0.5,
            color = 'rgba(255, 255, 255, 255)'
        )
    )))

flight_paths = []
for i in range(len(viz_count)):
    fig.add_trace(
        go.Scattergeo(
            locationmode = 'USA-states',
            lon = [viz_count['longitude_x'][i], viz_count['longitude_y'][i]],
            lat = [viz_count['latitude_x'][i], viz_count['latitude_y'][i]],
            mode = 'lines',
            line = dict(width = 0.0001, color = 'red'),
            # opacity=0.01,
            opacity = float(viz_count['count'][i]) / float(viz_count['count'].max()),
        )
    )

fig.update_layout(
    # title_text = 'Feb. 2011 American Airline flight paths<br>(Hover for airport names)',
    showlegend = False,
    geo = dict(
        center=dict(lon=-100, lat=40),
        scope = 'north america',
        projection_type = 'azimuthal equal area',
        showland = True,
        landcolor = 'rgb(83, 83, 83)',
        countrycolor = 'rgb(83, 83, 83)',
    ),
    autosize=False,  # Disable autosizing
    margin=dict(l=0, r=0, t=0, b=0), 
)

fig.write_image("eacl2023_latex/figure/reprintviz1.pdf", engine='kaleido')
fig.show()

ValueError:
Image export using the "kaleido" engine requires the kaleido package,
which can be installed using pip:
    $ pip install -U kaleido

In [ ]:
G=nx.from_pandas_edgelist(viz_count, 'state1', 'state2', ['count'])

In [ ]:
len(G.nodes())

In [ ]:
nx.degree_centrality(G)

In [ ]:
from networkx.algorithms import community
nx.average_clustering(G)

In [ ]:
df.groupby('pair_index1').count()['no_reuse'].sort_values(ascending=False)[:10]

In [ ]:
df[df['pair_index1']==39].head(2)

In [ ]:
df[df['pair_index1']==2272].head(2)

In [ ]:
df[df['pair_index1']==4197].head(2)

In [ ]:
original

In [ ]:
G.edges['Alabama', 'Alaska']['count']